*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #000;
    font-family: satoshi;
}




:root{
    --bg-color:#000;
    --font-color:#fff;
    --button-color: #AB572D;
    --theme-color: #AB572D;
     --bg-color:
  radial-gradient(circle at top left, rgba(171, 87, 45, 0.3) 0%, transparent 40%),
  radial-gradient(circle at bottom right, rgba(171, 87, 45, 0.3) 0%, transparent 40%),
  black
}

@font-face {
    font-family: satoshi;
    src: url(../public//assets/fonts/Satoshi-Medium.otf);
}